$full-width: 100%;
$small-width: 100px;

.generic-font{
  letter-spacing:2px;
  color: white;
}

.sidebar-layout{
  z-index:3;
  width:300px;
  font-family: 'Spectral SC';
  letter-spacing: 2px;
}
.sidebar-logo{
  padding-bottom: 100px;
  padding-top: 64px;
}
.sidebar-icon{
  color: #F9E79F;
}
.logo-B{
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  letter-spacing: 8px;
}
.logo {
  font-family: "Arapey", serif;
  font-size: 25px;
  font-weight: bold;
}

.image-layout{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: $full-width;
}
.image-cover{
  height:250px;
  width: $full-width ;
  background-image: url('pictures/pic11.jpg');
  background-position: bottom;
}
.cover-decoration{
  width: $full-width;
  position: relative;
  height: 60px;
}
.cover-decoration-light{
  @extend .cover-decoration ;
  background-color: #424242 ;
}
.cover-decoration-dark{
  @extend .cover-decoration ;
  background-color: black ;
}
.post-cover-layout{
  position: absolute;
  width: $full-width;
}

.personal-info{
  @extend .post-cover-layout ;
  margin-top: $small-width;
}
.personal-image-outer{
  width: $small-width *3;
  margin-left: $small-width;
  margin-top:30px;
}
.personal-image{
  border-color: #757575;;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
.personal-name{
  margin-top: $small-width;
  color: white;
}
.personl-name-style{
  @extend .generic-font ;
  font-family: 'Dancing Script', cursive;
  font-size:$small-width - 10;
}

.post-cover{
  @extend .post-cover-layout ;
  margin-top: 370px;
  padding-bottom: 70px;
}

.article{
  margin-top: $small-width - 20;
  margin-left: $small-width - 20;
  width: $full-width;
  padding-bottom: 50px;
}
.article-date{
  margin-left: $small-width - 60;
  margin-top: $small-width - 20;
}
.article-title-layout{
  margin-left: 40px;
  margin-bottom: 25px;
}
.article-title-style{
  font-family: 'Slabo 27px', serif;
  letter-spacing: 2px;
}
.article-image{
  width: $small-width *8;
  height: $small-width *3 +30;
}
.article-content{
  margin-left: $small-width - 60;
  margin-bottom: $small-width - 75;
  margin-top: $small-width - 75;
}
.article-content-font{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
.article-btn{
  width: $small-width *3;
  margin-left: $small-width - 60;
  margin-top: $small-width - 60;
}

.calendar-outer{
  width: $small-width *5 - 10;
  height: $small-width *5;
  margin-left: $small-width;
}
.calendar-inner{
  width: $small-width *4;
  height:$small-width - 40;
  background-color: #212121;
}
.calendar-style{
  @extend .generic-font ;
  font-family: 'Spectral SC';
  text-align: center;
}

.social-media{
  margin-right: 20px;
}
.social-media-insta{
  @extend .social-media ;
  color: #dd3333;
}
.social-media-reddit{
  @extend .social-media ;
  color: #ff8400;
}
.social-media-git{
  @extend .social-media ;
  color: #555555;
}
.social-media-twitter{
  @extend .social-media ;
  color: #7ba5cb;
}
.social-media-fb{
  @extend .social-media ;
  margin-left: 30px;
  color: #336699;
}

.album-outer{
  background-color: #424949 ;
  margin-top: $small-width - 80;
  margin-left: 285px;
  position: absolute;
  margin-top: $small-width *10 + 300;
  width: 1650px;
}
.album-title{
  @extend .generic-font ;
  margin-left: 650px;
  font-family: 'Josefin Slab', serif;
  margin-top: 100px;
  font-size: 60px;
}
.album-pic{
  width: $full-width ;
}
.album-btn{
  width: $full-width - 75%;
  margin-left: $small-width * 5 + 50 ;
}
.album-modal-outer{
  background-color: rgba(0, 0, 0, .1);
  margin-top: 60px;
  width: auto;
}

.journal-outer{
   background-color: #D0D3D4 ;
   width: 1620px;
   margin-left: 285px ;
   margin-top: 2430px;
   position: absolute;
   padding-bottom: 50px;
}
.journal-title{
  font-family: 'Josefin Slab', serif;
  letter-spacing: 2px;
  margin-top: $small-width - 50 ;
  color: black;
  font-size: 60px;
}
.journal-col-outer{
  margin-left: 80px;
  width: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.col-tag{
    font-family: 'Spectral SC';
    letter-spacing: 2px;
    text-align: center;
    color: black;
    margin-top: $small-width - 50;
}
.hr{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.hr-short{
  @extend .hr ;
  width: $small-width + 10;
}
.hr-long{
  @extend .hr ;
  width: 340px;
}
.hr-outer{
  margin-left: 40px;
  margin-top: 50px;
}
.col-title{
  font-family: 'Acme', sans-serif;
  font-size: 27px;
  color: black
}
.col-pic{
  width: $small-width *4;
  height: $small-width *2;
}
.col-article-outer{
  margin-bottom: 25px;
  margin-top: 25px;
}
.col-article{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
.col-article-btn{
  width: 250px;
  margin-top: 20px
}
.more-article-outer{
  width: 470px;
  margin-left: 585px;
  margin-top: $small-width - 90 ;
}

.event-background{
  margin-left: 285px;
  margin-top: 4285px;
  background-color: #D5D8DC;
  background-image: url('pictures/pic12.jpg');
  background-position:center;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}
.event-outer{
  margin-left: 550px;
  margin-top: 4250px;
  position: absolute;
}
.events-title{
  letter-spacing: 4px;
  font-family: "Spectral SC", serif;
  color: black;
  margin-bottom: 50px;
  font-size: 30px;
}

.footer{
  position: absolute;
  margin-top: 5200px;
  margin-left: $small-width *10 ;
}
