$small-width: 100px;
$full-width: 100%;

.sidebar-outer{
  z-index:3;
  width:250px;
  font-weight:bold;
  display:none;
  right:0;
}
.sidebar-x{
  width: $small-width - 10;
  margin-left: 180px;
}
.sidebar-options-outer{
  margin-top: 250px;
  font-family: "Spectral SC", serif;
  letter-spacing: 2px;
}

.nav-header-outer{
  margin-bottom: $small-width - 20;
  padding-left: $small-width - 60;
  padding-right: $small-width - 80;
}
.nav-logo{
  font-family: 'Arapey', serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 40px;
}
.nav-logo-b{
  font-family: "Great Vibes", cursive;
  font-size:35px;
  letter-spacing: 8px;
}
.nav-search-outer{
  width: $full-width;
  height: 80px;
  background-color: #141415;
  padding-top: 23px;
  padding-left: 40px;
}

.top-cover{
  background-image: url('pictures/pic1.jpg');
  background-position: top;
  width: $full-width ;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}
.top-title-outer{
  margin-top: $small-width - 10;
  color: white;
  width: 28%;
  height: 60px;
  background: black;
}
.top-title{
  font-family: "Philosopher", sans-serif;
  color: white;
  letter-spacing: 3px;
}
.top-title-letter{
  font-family: 'Great Vibes', cursive;
  letter-spacing: 6px;
  font-size: $small-width - 50;
}

.title{
  font-family: "Spectral SC", serif;
  letter-spacing: 5px;
}
.pic-layout{
  height: 200px;
  background-position: center;
}

.recent-outer{
  width: 2000px;
  background-color: #323536;
}
.recent-title{
  @extend .title ;
  color: white;
}
.recent-title-black{
  @extend .title ;
  color: black;
}
.recent-title-letter-big{
  font-size: 35px;
}
.recent-title-letter-small{
  font-size: 30px;
}

.article-outer{
  margin-top: 82px;
  margin-left: $small-width - 80;
  width: $small-width *6;
}
.article-pic-layout{
  @extend .pic-layout ;
  width: 570px;
}

.all-outer{
  max-width:1564px;
  padding-bottom: $small-width;
}
.all-article-outer{
  margin-top: 82px;
  margin-left: 20px;
  width: 450px;
}
.all-article-pic-layout{
  @extend .pic-layout ;
  width: 420px;
}
.all-btn-outer{
  margin-left: 35px;
  padding-bottom: 25px;
}
.all-btn{
  width: 150px;
  letter-spacing: 2px;
}

.event-title{
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  letter-spacing: 4 px;
}
.event-title-letter{
  font-family: "Spectral SC", serif;
  font-size: 25px;
  font-weight: bold;
}
.form-title{
  position: absolute;
  width: $small-width *7;
  color: black;
}
.form-datalist{
  position: absolute;
  width: 250px;
  margin-left:730px;
  color: black;
}
.form-textarea{
  position: absolute;
  width: $small-width *7;
}
.form-btn-outer{
  margin-left: 990px;
  padding-bottom: 25px;
  position: absolute;
  margin-top: 50px;
}
.form-btn{
  width: 150px;
  letter-spacing: 2px;
}
